<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750992877120-h044dfi9c0gpjuk9c59vhdml6brj3snn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750992877120-h044dfi9c0gpjuk9c59vhdml6brj3snn</string>
	<key>API_KEY</key>
	<string>AIzaSyBq3AgLUtQKVTWQHdxtQkGOmVFZI-o7UPs</string>
	<key>GCM_SENDER_ID</key>
	<string>750992877120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ahmed.SfeirConnect</string>
	<key>PROJECT_ID</key>
	<string>sfeirconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>sfeirconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750992877120:ios:ef7161dc6411a2be</string>
	<key>DATABASE_URL</key>
	<string>https://sfeirconnect.firebaseio.com</string>
</dict>
</plist>